<form method="POST" action="/encuestas/crear">
    {% csrf_token %}

    <b>{{ form.errors }}</b>

    {{ form.pregunta.label }}: {{ form.pregunta }}
    <br>
    {{ form.autor.label }}: {{ form.autor }}
    <br>
    {{ form.activa.label }}: {{ form.activa}}
    <br>

    <a href='/logout/'>Salir</a>
    <input type="submit" value="Crear">
</form>
