<form method="POST" action="">
    {% csrf_token %}
    
    {{ wizard.management_form }}
    {{ form }}
    
    <br>
        <button type="submit" value="{{ wizard.steps.prev }}">Anterior</button>
        <input type="submit" value="Siguiente">
</form>
