<form method="POST" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
    
    {{ form }}
    
    <input type="hidden" value="{{ next }}" name="next">
    <input type="submit" value="Entrar">
</form>
