Detalle de la noticia <b>{{ noticia.id }}</b>
<br>
<br>

    <b>Titulo:</b> {{ noticia.titular }}<br>
    <b>Resumen:</b> {{ noticia.resumen }}<br>
    <b>Contenido:</b> {{ noticia.contenido }}<br>
    <b>Fecha:</b> {{ noticia.fecha }}<br>
    <b>Autor:</b> {{ noticia.autor }}<br>
    -----------------------------<br>
    
