<b>Noticias</b>

{% for noticia in  diccionario_noticias %}
    <a href='/noticias/{{noticia.id}}'><h1>{{ noticia.titular }} </h1></a>
    <b>Autor: {{ noticia.autor }}</b><br>
    <i>{{ noticia.resumen }}</i><br>
    -----------------------------<br>
{% endfor %}
