<form method="POST" action=".">
    {% csrf_token %}
    
    {{ previous_fields|safe }}

    {{ wizard.management_form }}
    {% if wizard.form.forms  %}
    asdasdasd
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form }}
        {% endfor %}
    {% else %}
        {{ form }}
    {% endif %}
    
    <br>
        <!--
        <button type="submit" value="{{ wizard.steps.prev }}">Anterior</button>
        <button type="submit" value="{{ wizard.steps.next }}">Siguiente</button>
        -->

        <input type="submit" value="Siguiente">
        <input type="hidden" value="{{step0}}" name="{{step_field}}">
        </form>
